/* This is the CSS styling for the mobile version */
:root {
    --primary: rgba(255, 255, 255, 1);
    --secondary: rgba(12, 12, 12, 1);
    --accent1: rgba(211, 211, 211, 1);
    --accent2: rgba(238, 238, 238, 1);
    --accent3: rgba(0, 128, 129, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

img,
main,
footer {
    animation: blur 4s;
}

@keyframes blur {
    0% { -webkit-filter: blur(5px);}
    100% { -webkit-filter: blur(0px);}
}

ul {
    width: 100%;
    list-style-type: none;
}

#headerContainer,
.navigation a,
#mainContainer,
.main-content-container {
    padding: 1rem;
}

#headerContainer {
    position: relative;
}

header,
.events-heading,
.current-weather-heading,
#weatherForecastDataBox,
.membership-levels-heading,
.membership-application-form-container,
footer {
    background-color: var(--accent3);
}

body,
#homeMainContainer,
main,
.main-content-container,
.intro-section {
    background-color: var(--accent2);
}

h1 {
    font-size: 2.125rem;
    letter-spacing: 3px;
    margin: 0rem;
}

h1, 
.logo-text,
h2,
h3,
h4 {
    font-family: "Poppins", serif;
}

.logo-text {
    font-size: .688rem;
    padding-left: .1rem;
}

nav {
    margin-top: 4rem;
}

.navigation a,
.home-intro-heading,
#callToAction,
.grid .member,
.grid .selected-member h2,
.events-heading,
.current-weather-heading,
.weather-forecast-heading,
.membership-application-form-heading,
.membership-levels-heading,
#membershipLevelsContainer div {
    text-align: center;
}

.navigation a,
.button-box button,
#callToAction,
#membershipLevelsContainer div a,
.close:hover,
.close:focus {
    text-decoration: none;
}

.navigation a {
    font-size: 1.25rem;
    display: none;
}

.navigation a:hover {
    font-size: 1.313rem;
}

.navigation a:active {
    text-decoration: underline;
}

a, 
p, 
button, 
span,
li,
form {
    font-family: "Nunito Sans", sans-serif;
}

h1,
.logo-text, 
h2, 
.navigation li a, 
p {
    font-style: normal;
}

h1,
.logo-text,
#menuButton, 
.navigation li a,
.home-intro-heading,
.events-heading,
.current-weather-heading,
#weatherForecastDataBox p,
.membership-levels-heading,
.form-box2 label,
input[type="submit"],
footer p {
    color: var(--primary);
}

.delayed-animation {
    opacity: 0;
    animation: fadeIn 2s 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.delayed-animation2 {
    opacity: 0;
    animation: fadeIn2 2s 3s forwards;
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* small view navigation */
.menu-button-container {
    position: absolute;
    top: .4rem;
    right: .8rem;
}

#menuButton {
    font-size: 3.2rem;
    border: 0;
	background: none;
}

#menuButton::before {
	content: "☰";
    cursor: pointer;
}

#menuButton.open::before {
	content: "✖";
}

.chamber-of-commerce-text {
    position: absolute;
    top: .6rem;
    left: 4.3rem;
}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.logo-container img {
    width: 48px;
    height: 48px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

/* when the menu button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

nav ul li.active a {
    text-decoration: underline;
}

/* home page */
.intro-section {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 25% 50% 25%;
}

.main-heading-box {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    z-index: 1;
    padding: .2rem 1rem;
}

.budva-intro-banner {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    height: fit-content;
}

#callToAction {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.home-intro-heading {
    font-size: 1.625rem;
    letter-spacing: 2px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

#budvaIntroPhoto img {
    display: block;
    filter: brightness(90%);
}

.events-heading,
.current-weather-heading,
.weather-forecast-heading,
.membership-levels-heading {
    font-weight: 400;
    padding: .5rem;
}

.current-weather-data-box span,
#modalTitle {
    padding-bottom: .5rem;
}

.current-weather-data-box span,
.form-box2 label, 
input,
input[type="submit"],
select,
textarea {
    display: block;
}

.event-section div p span,
.form-box2 label {
    font-weight: 700;
}

.event-section div,
#submittedFormData {
    padding: .7rem .7rem .9rem;
}

.current-weather-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    column-gap: 1.6rem;
}

#weatherIcon {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
}

.current-weather-data-box {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: .9rem .5rem .9rem 0rem;
    margin-right: .2rem;
}

#weatherDescription {
    text-transform: capitalize;
}

#weatherForecastDataBox {
    padding: .5rem .7rem .9rem;
}

#weatherForecastDataBox p {
    font-size: 1.125rem;
}

.event-section,
.current-weather-section,
.three-day-weather-forecast-section,
.membership-levels-info-section,
.membership-application-form-section {
    border-radius: 10px 10px 6px 6px;
}

.grid .selected-member h2 {
    border-bottom: 2px solid var(--accent1);
}

.grid .selected-member img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-heading,
.business-directory-heading,
.intro-to-membership-heading,
.thank-you-heading {
    font-size: 1.5rem;
}

/* directory page */
.button-box {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
    margin: 1rem 0rem;
}

#gridView {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#listView {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.button-box button,
.events-heading,
.current-weather-heading,
.weather-forecast-heading,
#callToAction,
.membership-levels-heading,
.membership-application-form-heading,
#modalTitle {
    font-size: 1.375rem;
}

.button-box button,
#callToAction {
    padding: 1.125rem 0rem;
}

.button-box button,
#callToAction,
#membershipLevelsContainer div a {
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.button-box button:hover,
#callToAction:hover,
#membershipLevelsContainer div a:hover {
    color: var(--primary);
    background-color: var(--accent3);
}

.button-box button:active,
#callToAction:active,
#membershipLevelsContainer div a:active {
    color: var(--accent3);
    background-color: var(--primary);
    border: 2px solid var(--accent3);
}

.members-btn-default-bg-color {
    background-color: var(--primary);
}

.members-btn-default-font-color {
    color: var(--accent3);
}

.members-btn-teal-bg-color {
    background-color: var(--accent3);
}

.members-btn-white-font-color {
    color: var(--primary);
}

#membersContainer,
#companySpotlightDataBox {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    row-gap: 1.25rem;
}

.grid .member,
.grid .selected-member {
    width: 100%;
    height: auto;
}

.grid .member h2,
.grid .member p,
.grid .member a,
.list ul li h2,
.list ul li p,
.list ul li a,
.event-section div h2,
.event-section div p,
.event-section div a,
span,
.membership-info-section div p,
.grid .selected-member h2,
.grid .selected-member p,
.grid .selected-member a,
.modal-content p,
.modal-content h4,
.modal-content ul li,
#membershipLevelsContainer div h3,
.form-box2 label,
#submittedFormData h3,
#submittedFormData a, 
p,
footer p {
    font-size: .938rem;
}

.grid .member h2,
.list ul li h2,
.event-section div h2,
.grid .selected-member h2,
#submittedFormData h3 {
    margin-bottom: .3rem;
}

.grid .member p,
.list ul li p,
.event-section div p,
.membership-info-section div p,
#weatherForecastDataBox p,
.grid .selected-member p,
.modal-content p,
.modal-content ul li,
#submittedFormData p {
    line-height: 1.7;
}

.grid .member p:nth-of-type(2),
.list ul li p:nth-of-type(2) {
    margin-top: .1rem;
} 

.grid .member p:nth-of-type(3),
.list ul li p:nth-of-type(3),
.event-section div p:nth-of-type(4) {
    margin-bottom: .1rem;
}

.grid .member p:last-of-type,
.list ul li p:last-of-type {
    margin-top: .3rem;
}

.home-heading,
.business-directory-heading,
.intro-to-membership-heading,
.grid .member h2,
.grid .member a,
.list ul li,
.list ul li a,
.event-section div:nth-of-type(even) h2,
.event-section div:nth-of-type(even) a,
.weather-forecast-heading,
.grid .selected-member h2, 
.grid .selected-member a,
#callToAction,
.membership-application-form-heading,
#modalTitle,
#membershipLevelsContainer div h3,
#membershipLevelsContainer div a,
input[type="submit"],
#submittedFormData a,
#submittedFormData h3,
.thank-you-heading {
    color: var(--accent3);
}

.list ul {
    padding: 0rem;
}

.grid .member,
.list .member,
.grid .selected-member,
.membership-intro-box,
.form-box,
.modal-content {
    padding: .7rem;
}

.grid .member,
.list .member,
.event-section,
.current-weather-section,
.three-day-weather-forecast-section,
.grid .selected-member,
.membership-intro-box,
.membership-levels-info-section,
.membership-application-form-section,
#submittedFormData {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.grid .member,
.list .member,
.event-section div,
.weather-forecast-heading,
.grid .selected-member,
#callToAction,
.membership-application-form-heading,
.modal-content,
input,
#membershipLevelsContainer div,
input[type="submit"],
#submittedFormData {
    background-color: var(--primary);
}

.grid .member,
.list .member,
.grid .selected-member,
.membership-intro-box,
dialog,
#membershipLevelsContainer div,
.form-box2 input,
select,
textarea,
#submittedFormData {
    border-radius: 6px;
}

.list .member {
    width: 100%;
    margin: 1.25rem 0rem;
    margin: 0rem 0rem;
    border-radius: 0px;
}

.list .member:nth-of-type(1),
.events-heading,
.current-weather-heading,
.weather-forecast-heading,
.membership-levels-heading,
.membership-application-form-heading {
    border-radius: 6px 6px 0px 0px;
}

.list .member:last-of-type,
.event-section div:last-of-type,
.current-weather-box,
#weatherForecastDataBox,
#membershipLevelsContainer,
.form-box,
.membership-application-form-container {
    border-radius: 0px 0px 6px 6px;
}

.list .member:nth-of-type(odd),
.event-section div:nth-of-type(odd),
.current-weather-box,
.membership-intro-box,
#membershipLevelsContainer {
    background-color: var(--accent1);
}

p,
.list .member:nth-of-type(odd) h2,
.list .member:nth-of-type(odd) a,
.event-section div,
.event-section div a,
.current-weather-data-box span,
select,
.modal-content h4,
.modal-content ul li,
.close:hover,
.close:focus {
    color: var(--secondary);
}

/* join page */
.intro-to-membership-heading,
.thank-you-heading {
    margin-top: .8rem;
} 

.intro-to-membership-heading,
.membership-application-form-heading,
.thank-you-heading {
    line-height: 1.4;
}

.membership-application-form-heading {
    padding: .3rem;
}

.membership-application-form-container,
.form-box  {
    width: auto;
}

.form-box2 input,
select,
textarea {
    width: 100%;
    border: none;
    margin: .3rem 0rem 1rem;
    padding: .85rem .5rem;
}

select {
    cursor: pointer;
}

select option {
    width: 100%;
}

select:focus > option:checked {
    background: var(--accent1);
}

.form-box2 textarea {
    height: 150px;
}

#submittedFormData p:last-of-type {
    padding-top: 1rem;
}

#membershipLevelsContainer {
    position: relative;
    padding: .7rem 0rem .7rem;
}

#membershipLevelsContainer div {
    opacity: 0;
    margin: 0rem .7rem .7rem;
    padding: 1rem .5rem 2rem;
    animation: slideUp 1s forwards;
}

#membershipLevelsContainer div:nth-child(1) {
    animation-delay: 0s;
}

#membershipLevelsContainer div:nth-child(2) {
    animation-delay: 0.5s;
}

#membershipLevelsContainer div:nth-child(3) {
    animation-delay: 1s;
}

#membershipLevelsContainer div:last-of-type {
    margin: 0rem .7rem 0rem;
    animation-delay: 1.5s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        top: 20px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

#membershipLevelsContainer div h3 {
    margin-bottom: .7rem;
}

.button-box button,
#callToAction,
#membershipLevelsContainer div a,
input[type="submit"] {
    border: 1px solid var(--accent3);
}

input[type="submit"] {
    margin: .3rem 0rem .2rem;
}

#membershipLevelsContainer div a,
input[type="submit"] {
    display: inline-block;
    font-size: 1rem;
    height: 44.47px;
}

input[type="submit"]:hover {
    background-color: var(--accent1);
    color: var(--secondary);
    border: var(--accent1);
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: var(--primary);
    color: var(--accent3);
    border: 2px solid var(--accent3);
}

.form-box2 input:required, 
select:required {
    border-left: 3px solid red;
}

.form-box2 input:required:valid, 
select:required:valid {
    border-left: 3px solid green;
}

#membershipLevelsContainer div a {
    padding: .73rem 1rem .60rem;
}

dialog,
.modal-content {
    margin: 0 auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog,
.modal-content, 
.close {
    border: none;
}

.modal-content h4 {
    padding-top: .7rem;
}

#modalCoreBenefits li,
#modalBenefits li {
    list-style-type: disc;
    margin-left: 1.125rem;
    padding-top: .6rem;
}

#modalCoreBenefits li:last-of-type,
#modalBenefits li:last-of-type {
    padding-bottom: .4rem;
}

.close {
    color: var(--accent1);
    float: right;
    font-size: 1.75rem;
    font-weight: 600;
    background: none;
    cursor: pointer;
}

.membership-application-form-heading,
#modalTitle {
    font-weight: 400;
}

footer {
    padding: 1rem 1rem 2rem;
}

.home-intro-heading,
.event-section div h2,
footer p {
    line-height: 1.6;
}

.home-heading,
.event-section,
.event-section div p:nth-of-type(4),
.business-directory-heading,
.membership-info-section,
.chamber-of-commerce-info, 
.class-project-info,
#callToAction,
#submittedFormData {
    margin-top: 1rem;
}

.current-weather-heading,
.weather-forecast-heading,
.company-spotlights-section,
.membership-levels-heading,
.membership-application-form-heading {
    margin-top: 1.25rem;
}
.chamber-of-commerce-social-media {
    max-width: fit-content;
    margin-top: 1.4rem;
}

.chamber-of-commerce-social-media div {
    display: inline-block;
}

.chamber-of-commerce-social-media div:nth-child(1),
.chamber-of-commerce-social-media div:nth-child(2) {
    margin-right: 1rem;
}