/* This is the CSS styling for the mobile version */
:root {
    --white: rgba(255, 251, 252, 1);
    --black: rgba(21, 20, 20, 1);
    --darkbrown: rgba(82, 65, 52, 1);
    --brown: rgba(142, 110, 83, 1);
    --beige: rgba(203, 165, 127, 1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

img,
main,
footer {
    animation: blur 4s;
}

@keyframes blur {
    0% { -webkit-filter: blur(5px);}
    100% { -webkit-filter: blur(0px);}
}

figcaption {
    opacity: 0;
    animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
}

body,
header,
.course-work,
.figure-budva,
.figure-budva figcaption,
.courses-button-container,
#coursesContainer,
.course-box,
.credits-info-box,
dialog,
dialog button {
    background-color: var(--white);
}


header {
    position: relative;
    padding: 0rem;
}

.weather-box {
    padding: 0rem 5.3rem 1.8rem 1.6rem;
}

.weather-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
}

.weather-info span {
    font-size: 1rem;
}

#weatherPlace {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#currentTemp {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#weatherIcon {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#weatherDescription {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-transform: capitalize;
}

#weatherPlace,
#currentTemp {
    padding-top: 1.3rem;
}

h1,
.course-work,
.budva-heading,
.figure-budva,
.course-name,
.credits-info,
#courseDetails,
dialog button {
    color: var(--darkbrown);
}

h1,
h2,
.navigation a,
.figure-budva,
.courses-button-container button,
.course-name,
.credits-info {
    text-align: center;
}

h1 {
    position: absolute;
    font-size: 1.625rem;
    top: 11rem;
    right: 1.5rem;
}

h2 {
    padding: .75rem 1.5rem;
}

h2,
.credits-info {
    font-size: 1.25rem;
}

h2,
.navigation a,
.course-work li,
.courses-button-container button,
.course-name,
.credits-info {
    font-weight: 500; 
}

.weather-box,
nav, 
footer {
    background-color: var(--brown);
}

nav {
    margin-top: 10.1rem;
}

/* small view navigation */
.menu-button-container {
    position: absolute;
    top: .9rem;
    right: 1.4rem;
}

#menuButton {
    font-size: 3.2rem;
    border: 0;
	background: none;
}

#menuButton::before {
	content: "☰";
    cursor: pointer;
}

#menuButton.open::before {
	content: "✖";
}

.student-photo-container {
    position: absolute;
    top: 6.6rem;
    left: 0rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.navigation a,
.course-box {
    padding: 1rem;
}

.navigation a {
    display: none;
}

.weather-info span,
#menuButton,
.navigation a, 
.course-work-heading, 
.courses-heading,
.courses-button-container button,
.footer-info-container p {
    color: var(--white);
}

.navigation a,
.courses-button-container button {
    font-size: 1.375rem;
    text-decoration: none;
}

.navigation a:hover {
    font-size: 1.313rem;
}

.navigation a:active {
    text-decoration: underline;
}

/* when the menu button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

nav ul li.active a {
    text-decoration: underline;
}

.delayed-animation {
    opacity: 0;
    animation: fadeIn 2s 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main section {
    padding: 1.8rem 1.6rem;
}

.course-work-section, 
.courses-section,
#courseDetails h2 {
    background-color: var(--beige);
}

.course-work-heading,
.courses-heading,
.budva-section {
    background-color: var(--darkbrown);
}

.course-work-heading, .courses-heading {
    border: 5px solid var(--darkbrown);
}

.budva-heading,
#budvaOldTown,
.course-work-heading,
.courses-heading,
#courseDetails h2 {
    border-radius: 6px 6px 0px 0px;
}

.course-work {
    padding: 1rem 1.2rem 0rem 1.2rem;
    border-top: none;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: none;
    border-radius: 0px 0px 6px 6px;
}

.course-work li,
.course-name {
    font-size: 1.125rem;
}

.course-work li {
    padding-bottom: 1rem;
    margin: 0rem 1.2rem;
}

.course-work li a,
.course-work li a:hover,
.course-work li a:active,
.course-work li a:visited {
    color: var(--brown);
}

.budva-section {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.budva-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: transparent;
    border-top: none;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: none;
    padding-top: 1rem;
    z-index: 1;
}

.figure-budva {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    border-top: none;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: none;
}

.figure-budva figcaption {
    font-size: 1rem;
    border-top: none;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: none;
    padding: 0rem 0rem .5rem 0rem;
}

#budvaOldTown {
    border-top: none;
    border-right: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-bottom: none;
}

.courses-button-container button {
    padding: 1.125rem 0rem;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.figure-budva,
.figure-budva figcaption,
.courses-button-container button,
dialog,
dialog button {
    border-radius: 6px;
}

.courses-button-container button:hover {
    background-color: var(--darkbrown);
}

.courses-button-container button:active {
    color: var(--darkbrown);
    background-color: var(--white);
    outline: 1px solid var(--darkbrown);
    border-radius: 6px; 
}

.courses-btn-default-bg-color {
    background-color: var(--brown);
}

.courses-btn-dark-brown-bg-color {
    background-color: var(--darkbrown);
}

.courses-button-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
}

#allCoursesBtn {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 1.2rem 1.2rem 0rem 1.2rem;
}

#cseCoursesBtn {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 0rem 0rem 1.2rem 1.2rem;
}

#wddCoursesBtn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0rem 1.2rem 1.2rem 0rem;
}

#coursesContainer {
    padding: 0rem 1.2rem 1.2rem;
    border-radius: 0px 0px 6px 6px;
}

.course-box {
    margin-bottom: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
}

.course-box:hover,
.course-box.completed:hover  {
    background-color: var(--beige);
}

.course-box:hover > p {
    color: var(--darkbrown);
}

.course-box:active,
.course-box.completed:active {
    background-color: var(--white);
    border: 1px solid var(--darkbrown);
}

.course-box:active > p {
    color: var(--darkbrown);
}

.course-box.completed {
    background-color: var(--darkbrown);
}

.course-box:nth-last-child(1) {
    margin-bottom: 0rem;
}

.course-name.completed-text-white {
    color: var(--white);
}

.credits-info-box {
    padding-top: 1.2rem;
}

dialog {
    border: none;
    padding: 1.6rem;
    margin: 0 auto;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    font-size: 1.188rem;
    font-weight: 600;
    position : absolute;
    top: 26px;
    right: 26px;
    padding: .6rem 1rem .5rem;
    border: 1px solid var(--beige);
    cursor: pointer;
}

dialog button:hover {
    color: var(--white);
    background-color: var(--darkbrown);
}

dialog button:active {
    color: var(--darkbrown);
    background-color: var(--white);
    border: 1px solid var(--darkbrown);
}

#courseDetails p {
    font-size: 1rem;
    line-height: 1.7;
}

#courseDetails p:nth-of-type(3) {
    padding: .5rem 0rem .5rem;
}

#courseDetails h3 {
    font-size: 1.17rem;
    padding: 1.2rem 0rem .5rem;
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px auto;
    padding: 1.5rem;
    column-gap: .3rem;
}

.footer-info-container {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.flag-photo-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#montenegro-flag-photo {
    float: right;
    padding-top: .3rem;
}

.footer-info-container p {
    font-size: .875rem;
    text-align: left;
}

/* This is the CSS styling for the tablet version */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        position: initial;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
    }

    .weather-box {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        padding: 1.8rem 1.6rem;
    }

    h1 {
        position: unset;
        font-size: 3.188rem;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        text-align: left;
        margin: 3.4rem 1.4rem 0rem 0rem;
        top: unset;
        right: unset;
    }

    .student-photo-container {
        position: unset;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        top: unset;
        left: unset;
    }

    #student-photo {
        float: right;
        margin-top: 1.1rem;
    }

    nav {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        margin-top: 2.1rem;
    }

    .weather-info {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        column-gap: .5rem;
        width: max-content;
        margin: 0 auto;
    }
    
    #weatherPlace {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    #currentTemp {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    
    #weatherIcon {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    
    #weatherDescription {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
        padding-top: 1.3rem;
    }

    #menuButton {
		display: none; /* hide hamburger button for the tablet view*/
	}

    .navigation {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0rem;
    }

    .navigation a {
        display: inline;
        padding: 0rem;
    }

    main {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 60.5% auto;
        gap: 1rem;
        max-width: 768px;
        margin: 1rem auto;
    }

    main section {
        border-radius: 6px;
    }

    .course-work-section {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .course-work-section {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: auto;
    }

    .course-work-heading {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .course-work {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        border-radius: 0px 0px 6px 6px;
    }

    .budva-section {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .courses-section {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .courses-button-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        padding: 0rem 1.2rem 1.2rem;
    }

    #allCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #cseCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #wddCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    #allCoursesBtn,
    #cseCoursesBtn,
    #wddCoursesBtn {
        margin: 1.2rem 0rem;
    }

    #coursesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(213.34px, 1fr));
        grid-auto-rows: minmax(50px, auto);
        row-gap: 1.2rem;
        column-gap: 1.2rem;
    }

    .course-box {
        max-width: 100%;
        max-height: 50px;
        padding: .8rem;
        margin-bottom: 0rem;
    }

    dialog {
        max-width: 768px;
    }

    footer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto 50px 248.63px auto;
    }

    .flag-photo-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .footer-info-container {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
}

/* This is the CSS styling for the desktop version */
@media only screen and (min-width: 1025px) {
    body {
        height: 100vh;
    }

    header {
        position: initial;
        display: grid;
        grid-template-rows: auto auto auto;;
        grid-template-columns: auto auto;
    }

    .weather-box {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        padding: 1.8rem 1.6rem;
    }

    h1 {
        position: unset;
        font-size: 3.188rem;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        text-align: left;
        margin: 3.4rem 1.4rem 0rem 0rem;
        top: unset;
        right: unset;
    }

    h2 {
        font-size: 1.5rem;
    }

    .student-photo-container {
        position: unset;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        top: unset;
        left: unset;
    }

    #student-photo {
        float: right;
        margin-top: 1.1rem;
    }

    nav {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        margin-top: 2.1rem;
    }

    .weather-info {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, auto);
        column-gap: .5rem;
        width: max-content;
        margin: 0 auto;
    }
    
    #weatherPlace {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    #currentTemp {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    
    #weatherIcon {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    
    #weatherDescription {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
        padding-top: 1.3rem;
    }

    #menuButton {
		display: none; /* hide hamburger button for the desktop view*/
	}

    .navigation,
    main {
        margin: 2rem auto;
        max-width: 960px;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navigation a {
        display: inline;
        font-size: 1.25rem;
        padding: 0rem;
    }

    main {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 60.5% auto;
        gap: 2rem;
    }
    main section {
        border-radius: 6px;
    }

    main section,
    dialog {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .course-work-section {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .course-work-section {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: auto;
    }

    .course-work-heading {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .course-work {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        border-radius: 0px 0px 6px 6px;
    }

    .budva-section {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .courses-section {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .courses-button-container button {
        padding: .7rem 0rem;
        width: 125.89px;
        height: auto;
    }

    .courses-button-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(9, auto);
        padding: 0rem 1.2rem 1.2rem;
        column-gap: 0rem;
    }

    #allCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 4/ 5;
        margin: 1.2rem 0rem 1.2rem auto;
    }

    #cseCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
        margin: 1.2rem auto;
    }

    #wddCoursesBtn {
        grid-row: 1 / 2;
        grid-column: 6 / 7;
        margin: 1.2rem 0rem;
    }

    #coursesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(213.34px, 1fr));
        grid-auto-rows: minmax(50px, auto);
        row-gap: 1.2rem;
        column-gap: 1.2rem;
    }

    .course-box {
        max-width: 100%;
        max-height: 50px;
        padding: .8rem;
        margin-bottom: 0rem;
    }

    dialog {
        max-width: 960px;
    }

    footer {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto 50px 248.63px auto;
    }

    .flag-photo-container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .footer-info-container {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
}